<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qrTab">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dropDownTab">
      <ion-icon aria-hidden="true" name="chevron-collapse-outline"></ion-icon>
      <ion-label>Dropdown</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="singnatureTab">
      <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
      <ion-label>Singnature</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
